/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

h1, h2 {
  font-family: "Lora";
  font-weight: 600;
  font-size: 36px;
  padding: 0 20px;
  margin-top: 50px;
}

h3 {
  font-family: "Lora";
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 31px;
  padding: 0 20px;
}

hr {
  background-color: white;
  width: 96%;
  margin-left: 2%;
}

p, #header {
  font-family: "Mukta";
}

a {
  color: white;
  text-decoration: none;
}

#header {
  margin-bottom: 10px;
}
#header h1, #header h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}
#header h2 {
  font-weight: 400;
  padding-top: 10px;
}
#header .head {
  padding-top: 10px;
  margin-bottom: 50px;
}
#header .head span {
  margin-left: 20px;
}
#header .header_techno {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
}
#header .body {
  margin: 200px 0;
}
#header .body h1 {
  animation: slidedown 2s;
}
#header .body h2 {
  animation: slideright 2s;
}

#menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  padding-top: 50px;
  display: none;
  z-index: 1;
}
#menu a {
  font-weight: 200;
  font-size: 48px;
}
#menu ul {
  padding-left: 20px;
}
#menu hr {
  background-color: white;
  height: 1px;
  position: fixed;
  bottom: 20px;
  z-index: 0;
}

/* Menu Burger */
#menu_burger {
  appearance: none;
  position: absolute;
}
#menu_burger:checked ~ .menu_burger_style .line:nth-child(1) {
  left: 0;
  transform: rotate(45deg) translateX(7px);
  transition-delay: 0.5s;
}
#menu_burger:checked ~ .menu_burger_style .line:nth-child(2) {
  transform: scaleX(0);
  transition-delay: 0s;
}
#menu_burger:checked ~ .menu_burger_style .line:nth-child(3) {
  left: 0;
  transform: rotate(-45deg) translateX(7px);
  transition-delay: 0.5s;
}

.menu_burger_style {
  position: absolute;
  top: 13px;
  right: 30px;
  display: block;
  width: 15px;
  height: 25px;
  outline: none;
  cursor: pointer;
}
.menu_burger_style .line {
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
}
.menu_burger_style .line:nth-child(1) {
  top: 20%;
  left: -4px;
  transition-delay: 0s;
}
.menu_burger_style .line:nth-child(2) {
  top: 40%;
  left: 5px;
  transition-delay: 0.5s;
}
.menu_burger_style .line:nth-child(3) {
  top: 60%;
  transition-delay: 0s;
}

/* Fin du Menu Burger */
#profile {
  margin-bottom: 50px;
}
#profile .detail_profile {
  height: 160px;
}
#profile img {
  width: 130px;
  height: 130px;
}
#profile div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  padding-top: 20px;
}
#profile p {
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}

#experience {
  margin-bottom: 30px;
}
#experience .detail_mjc {
  height: 246px;
}
#experience h2 {
  font-size: 30px;
  line-height: 38px;
  text-align: right;
}
#experience h3 span {
  display: block;
}
#experience p {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  margin-top: 10px;
}
#experience .year {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
}
#experience .year::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: white;
  position: absolute;
  z-index: 0;
}
#experience .year::after {
  content: "";
  width: 1px;
  height: 100px;
  background-color: white;
  position: absolute;
  z-index: 0;
}
#experience .article_service_mjc h3 {
  text-align: right;
}
#experience .article_service_mjc .year {
  padding-left: 30px;
  margin-top: 30px;
}
#experience .article_service_mjc .year::before {
  top: 1105px;
  left: 5px;
}
#experience .article_service_mjc .year::after {
  top: 1090px;
  left: 20px;
}
#experience .article_service_mjc .img_mjc {
  width: 269px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
}
#experience .article_service_mjc p {
  text-align: right;
  margin-right: 20px;
}
#experience .article_dev_web {
  margin-top: 50px;
}
#experience .article_dev_web h3 {
  text-align: left;
}
#experience .article_dev_web .year {
  text-align: right;
  padding-right: 30px;
  margin-top: 30px;
}
#experience .article_dev_web .year::before {
  top: 1535px;
  right: 5px;
}
#experience .article_dev_web .year::after {
  top: 1520px;
  right: 20px;
}
#experience .article_dev_web .img_cci {
  width: 268px;
  margin-top: 20px;
  margin-left: 20px;
}
#experience .article_dev_web p {
  text-align: left;
  margin-left: 20px;
}

#wrapper_techno {
  display: grid;
  gap: 20px;
  grid-template-rows: auto;
  width: 320px;
  height: auto;
  margin: 50px auto;
}
#wrapper_techno .cube {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
}
#wrapper_techno .one {
  grid-column: 1;
  grid-row: 1;
  font-size: 36px;
  line-height: 46px;
}
#wrapper_techno .two {
  grid-column: 1;
  grid-row: 2;
  font-size: 36px;
  line-height: 46px;
}
#wrapper_techno .three {
  grid-column: 1;
  grid-row: 3;
  font-size: 24px;
  line-height: 31px;
}
#wrapper_techno .four {
  grid-column: 2;
  grid-row: 1;
  font-size: 36px;
  line-height: 46px;
}
#wrapper_techno .five {
  grid-column: 2;
  grid-row: 2;
  font-size: 24px;
  line-height: 31px;
}
#wrapper_techno .six {
  grid-column: 2;
  grid-row: 3;
  font-size: 36px;
  line-height: 46px;
}

#diplome h2 {
  font-size: 30px;
}
#diplome .diplome_list {
  margin: 20px 10px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
#diplome .diplome_list div {
  border: 1px solid white;
  height: auto;
  margin: 5px 0;
  padding: 5px;
}
#diplome .diplome_list div:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.6s;
}

#footer h2 {
  font-size: 30px;
  text-align: right;
}
#footer .footer_mail {
  font-family: "Lora";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin: 20px 10px;
  text-align: right;
}
#footer p {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  margin: 20px 0 10px;
}

/* Animations */
@keyframes slidedown {
  0% {
    transform: translateY(-650%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Responsive */
@media screen and (min-width: 768px) {
  #profile {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  #profile img {
    width: 150px;
    height: 150px;
  }
  #profile p {
    font-size: 14px;
  }

  #experience h3 span {
    display: inline;
  }
  #experience .detail_mjc, #experience .detail_dev_web {
    width: 85%;
    margin: 50px 0;
    margin-left: auto;
    margin-right: auto;
  }
  #experience .article_service_mjc .year::before {
    top: 1075px;
  }
  #experience .article_service_mjc .year::after {
    top: 1060px;
  }
  #experience .article_dev_web .year::before {
    top: 1503px;
  }
  #experience .article_dev_web .year::after {
    top: 1488px;
  }

  #wrapper_techno {
    gap: 40px;
    width: 530px;
  }
  #wrapper_techno .one {
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
    line-height: 46px;
  }
  #wrapper_techno .two {
    grid-column: 3;
    grid-row: 1;
    font-size: 36px;
    line-height: 46px;
  }
  #wrapper_techno .three {
    grid-column: 1;
    grid-row: 2;
    font-size: 24px;
    line-height: 31px;
  }
  #wrapper_techno .four {
    grid-column: 2;
    grid-row: 1;
    font-size: 36px;
    line-height: 46px;
  }
  #wrapper_techno .five {
    grid-column: 3;
    grid-row: 2;
    font-size: 24px;
    line-height: 31px;
  }
  #wrapper_techno .six {
    grid-column: 2;
    grid-row: 2;
    font-size: 36px;
    line-height: 46px;
  }

  #footer .footer_mail {
    text-align: center;
    margin: 50px 0 70px;
  }
}
@media screen and (min-width: 1024px) {
  #header .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }
  #header .head span {
    font-size: 32px;
    display: block;
  }
  #header .head input, #header .head label {
    display: none;
  }
  #header .head #menu {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }
  #header .head #menu a {
    font-style: normal;
    font-weight: 275;
    font-size: 32px;
    line-height: 53px;
    padding: 0 15px;
    transition: 0.4s;
  }
  #header .head #menu a:hover {
    font-weight: 500;
  }
  #header .head #menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 15px;
  }
  #header .head #menu hr {
    display: none;
  }
  #header .body {
    margin: 250px 0;
  }
  #header .body h1, #header .body h2 {
    font-size: 48px;
  }
  #header .header_techno {
    font-size: 14px;
  }

  main h2 {
    font-size: 48px;
  }
  main #profile {
    height: 308px;
  }
  main #profile .detail_profile img {
    width: 200px;
    height: 200px;
  }
  main #profile .detail_profile p {
    font-size: 24px;
    padding-left: 20px;
  }
  main #experience h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  main #experience h3 {
    font-size: 36px;
  }
  main #experience .article_service_mjc .detail_mjc p {
    font-size: 24px;
  }
  main #experience .year {
    font-size: 20px;
  }
  main #experience .article_service_mjc .detail_mjc {
    height: 360px;
  }
  main #experience .article_service_mjc .img_mjc {
    width: 400px;
  }
  main #experience .article_service_mjc .year::before {
    top: 1350px;
    width: 150px;
  }
  main #experience .article_service_mjc .year::after {
    top: 1335px;
    height: 150px;
  }
  main #experience .article_dev_web p {
    font-size: 24px;
  }
  main #experience .article_dev_web .img_cci {
    width: 400px;
  }
  main #experience .article_dev_web .year::before {
    top: 1895px;
    width: 150px;
  }
  main #experience .article_dev_web .year::after {
    top: 1880px;
    height: 150px;
  }
  main #diplome h2 {
    font-size: 48px;
  }
  main #diplome .diplome_list {
    width: 60%;
    margin-right: auto;
    overflow: hidden;
  }
  main #diplome .diplome_list div {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1101px) {
  main #profile {
    height: 400px;
  }
  main #profile .detail_profile img {
    width: 300px;
    height: 300px;
  }
  main #experience .article_service_mjc .year::before {
    top: 1440px;
    width: 150px;
  }
  main #experience .article_service_mjc .year::after {
    top: 1425px;
    height: 150px;
  }
  main #experience .article_dev_web .year::before {
    top: 1985px;
    width: 150px;
  }
  main #experience .article_dev_web .year::after {
    top: 1970px;
    height: 150px;
  }
  main #wrapper_techno {
    gap: 40px;
    width: 756px;
  }
  main #wrapper_techno .one {
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
    line-height: 46px;
  }
  main #wrapper_techno .two {
    grid-column: 3;
    grid-row: 1;
    font-size: 36px;
    line-height: 46px;
  }
  main #wrapper_techno .three {
    grid-column: 2;
    grid-row: 2;
    font-size: 24px;
    line-height: 31px;
  }
  main #wrapper_techno .four {
    grid-column: 2;
    grid-row: 1;
    font-size: 36px;
    line-height: 46px;
  }
  main #wrapper_techno .five {
    grid-column: 4;
    grid-row: 2;
    font-size: 24px;
    line-height: 31px;
  }
  main #wrapper_techno .six {
    grid-column: 3;
    grid-row: 2;
    font-size: 36px;
    line-height: 46px;
  }
}

/*# sourceMappingURL=style.css.map */
