/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

h1, h2 {
  font-family: "Lora";
  font-weight: 600;
  font-size: 36px;
  padding: 0 20px;
  margin-top: 50px;
}

hr {
  background-color: white;
  width: 96%;
  margin-left: 2%;
}

p, #header {
  font-family: "Mukta";
}

#header {
  margin-bottom: 10px;
}
#header h1, #header h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}
#header h2 {
  font-weight: 400;
  padding-top: 10px;
}
#header .head {
  padding-top: 10px;
  margin-bottom: 50px;
}
#header .head span {
  margin-left: 20px;
}
#header .header_techno {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  padding-top: 30px;
  padding-left: 20px;
}

#menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  padding-top: 50px;
  display: none;
  z-index: 1;
}
#menu a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 48px;
}
#menu ul {
  padding-left: 20px;
}
#menu hr {
  background-color: white;
  height: 1px;
  position: fixed;
  bottom: 20px;
  z-index: 0;
}

/* Menu Burger */
#menu_burger {
  appearance: none;
  position: absolute;
}
#menu_burger:checked ~ .menu_burger_style .line:nth-child(1) {
  left: 0;
  transform: rotate(45deg) translateX(7px);
  transition-delay: 0.5s;
}
#menu_burger:checked ~ .menu_burger_style .line:nth-child(2) {
  transform: scaleX(0);
  transition-delay: 0s;
}
#menu_burger:checked ~ .menu_burger_style .line:nth-child(3) {
  left: 0;
  transform: rotate(-45deg) translateX(7px);
  transition-delay: 0.5s;
}

.menu_burger_style {
  position: absolute;
  top: 13px;
  right: 30px;
  display: block;
  width: 15px;
  height: 25px;
  outline: none;
  cursor: pointer;
}
.menu_burger_style .line {
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
}
.menu_burger_style .line:nth-child(1) {
  top: 20%;
  left: -4px;
  transition-delay: 0s;
}
.menu_burger_style .line:nth-child(2) {
  top: 40%;
  left: 5px;
  transition-delay: 0.5s;
}
.menu_burger_style .line:nth-child(3) {
  top: 60%;
  transition-delay: 0s;
}

/* Fin du Menu Burger */
#profile {
  margin-bottom: 50px;
}
#profile img {
  width: 130px;
  height: 130px;
}
#profile div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  padding-top: 20px;
}
#profile p {
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}

#experience h2 {
  font-size: 30px;
  line-height: 38px;
  text-align: right;
}
#experience h3 {
  font-family: "Lora";
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 31px;
  padding: 0 20px;
}
#experience h3 span {
  display: block;
}
#experience .year {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
}
#experience .year:before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: white;
  position: absolute;
  z-index: 0;
}
#experience .year:after {
  content: "";
  width: 1px;
  height: 100px;
  background-color: white;
  position: absolute;
  z-index: 0;
}
#experience .article_service_mjc h3 {
  text-align: right;
}
#experience .article_service_mjc .year {
  padding-left: 30px;
  margin-top: 30px;
}
#experience .article_service_mjc .year:before {
  top: 785px;
  left: 5px;
}
#experience .article_service_mjc .year:after {
  top: 770px;
  left: 20px;
}
#experience .article_service_mjc .img_mjc {
  text-align: right;
  margin-top: 50px;
  margin-right: 20px;
}
#experience .article_service_mjc p {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}
#experience .article_dev_web {
  margin-top: 50px;
}
#experience .article_dev_web h3 {
  text-align: left;
}
#experience .article_dev_web .year {
  text-align: right;
  padding-right: 30px;
  margin-top: 30px;
}
#experience .article_dev_web .year:before {
  top: 1240px;
  right: 5px;
}
#experience .article_dev_web .year:after {
  top: 1225px;
  right: 20px;
}

/*# sourceMappingURL=style.css.map */
