@import "libs/reset.scss";
@import "libs/animation.scss";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: black;
    color: white;
}

/* Background brumeux */

.grain_overlay {
    pointer-events: none;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10000;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background-image: url(/assets/img/noise.gif);
    background-position: 0px 0px;
    background-size: 250px;
    opacity: 0.06;
}

/* Background brumeux Fin */

h1, h2 {
    font-family: 'Lora';
    font-weight: 600;
    font-size: 36px;
    padding: 0 5%;
    margin-top: 50px;
}

h3 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    padding: 0 5%;
}

hr {
    background-color: white;
    width: 96%;
    margin-left: 2%;
}

p, #header {
    font-family: 'Mukta';
}

a {
    color: white;
    text-decoration: none;
}

/* Scroll to top */

.scroll_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 20px;
    height: auto;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        transform: rotate(15deg);
    }
}

/* Scroll to top Fin */

#header {
    margin-bottom: 10px;

    h1, h2{
        text-align: center;
        padding: 0;
        margin: 0;
    }

    h2 {
        font-weight: 400;
        padding-top: 10px;
    }

    .head{
        padding-top: 10px;
        margin-bottom: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 9999;
        
        span {
            margin-left: 20px;
        }
    }

    .header_techno {
        font-family: 'Mukta';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        padding-left: 2%;
    }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85vh;

        h1 {
            animation: slidedown 1.5s;
        }

        h2 {
            opacity: 0;
            animation: Appear 1.5s forwards;
            animation-delay: 1.5s;
        }
    }
}

#menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(black 35%, transparent 65%);
    padding-top: 50px;
    margin-top: -1px;
    display: none;
    z-index: 1;

    a {
        font-weight: 200;
        font-size: 48px;
    }

    ul {
        padding-left: 20px;
    }
}

/* Menu Burger */

#menu_burger {
    appearance: none;
    position: absolute;

    &:checked {
        & ~ .menu_burger_style {
            .line {
      
              &:nth-child(1) {
                left: 0;
                transform: rotate(45deg) translateX(7px);
                transition-delay: 0.5s;
              }
      
              &:nth-child(2) {
                transform: scaleX(0);
                transition-delay: 0s;
              }
      
              &:nth-child(3) {
                left: 0;
                transform: rotate(-45deg) translateX(7px);
                transition-delay: 0.5s;
              }
            }
        }
    }
}

.menu_burger_style {
    position: absolute;
    top: 13px;
    right: 30px;
    display: block;
    width: 15px;
    height: 25px;
    outline: none;
    cursor: pointer;

    .line {
        position: absolute;
        height: 1px;
        width: 25px;
        background-color: white;
        overflow: hidden;
        transition: 0.5s;

        &:nth-child(1) {
            top: 20%;
            left: -4px;
            transition-delay: 0s;
        }

        &:nth-child(2) {
            top: 40%;
            left: 5px;
            transition-delay: 0.5s;
        }

        &:nth-child(3) {
            top: 60%;
            transition-delay: 0s;
        }
    }
}

/* Fin du Menu Burger */

#profile {

    margin-bottom: 50px;

    img {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 20px;
        padding-top: 20px;
    }

    p {
        font-size: 12px;
        font-weight: normal;
        margin-left: 10px;
    }

    .detail_profile {
        flex-direction: column;
    }
}

#experience {
    margin-bottom: 30px;

    h2 {
        font-size: 30px;
        text-align: right;
    }

    h3 span {
        display: block;
    }

    p {
        font-family: 'Mukta';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        padding-top: 20px;
    }

    .year {
        font-family: 'Mukta';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        position: relative;

        &::before {
            content: "";
            width: 100px;
            height: 1px;
            background-color: white;
            position: absolute;
            z-index: 0;
        }

        &::after {
            content: "";
            width: 1px;
            height: 100px;
            background-color: white;
            position: absolute;
            z-index: 0;
        }

    }

    .article_service_mjc {
        h3 {
            text-align: right;
        }

        .year {
            padding-left: 30px;
            margin-left: 3%;
            margin-top: 30px;
    
            &::before {
                top: -10px;
                left: 5px;
            }
    
            &::after {
                top: -25px;
                left: 20px;
            }
        }

        .img_mjc {
            width: 269px;
            margin-top: 20px;
            margin-right: 20px;
            margin-left: auto;
        }

        p {
            text-align: right;
            margin-right: 20px;
        }
    }

    .article_dev_web {
        margin-top: 50px;

        h3 {
            text-align: left;
        }

        .year {
            text-align: right;
            padding-right: 30px;
            margin-right: 3%;
            margin-top: 30px;

            &::before {
                top: -10px;
                right: 5px;
            }
    
            &::after {
                top: -25px;
                right: 20px;
            }
        }

        .img_cci {
            width: 268px;
            margin-top: 20px;
            margin-left: 20px;
        }

        p {
            text-align: left;
            margin-left: 20px;
        }
    }

    .detail_mjc, .detail_dev_web {
        display: flex;
        flex-direction: column;
    }

}

#wrapper_techno {
    display: grid;
    gap: 20px;
    grid-template-rows: auto;
    width: 320px;
    height: auto;
    margin: 50px auto;
    user-select: none;

    .cube {
        position: relative;
        width: 150px;
        height: 150px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;

        &::after {
            content: '';
            padding: 0;
            margin: 0;
            display: block;
            background-color: black;
            position: absolute;
            right: 0;
            bottom: 4px;
            width: 100%;
            height: 5px;
        }

        &::before {
            content: '';
            text-align: center;
            font-size: 15px;
            padding: 0;
            margin: 0;
            display: inline;
            position: absolute;
            top: 100px;
            opacity: 0;
            transition: 0.5s ease-in;
        }

        &:hover {
            padding-top: 4px;
            border: 1px solid white;
            border-bottom: 5px solid white;
        }

        &:hover::before{
            transform: translateY(-8%);
            opacity: 1;
        }
    }

    .one {
        grid-column: 1;
        grid-row: 1;
        font-size: 36px;

        &::before {
            content: '70%';
        }

        &:hover::after {
            bottom: -4px;
            animation: 0.3s ease-in-out Border70;
            width: 30%;
        }
    }

    .two {
        grid-column: 1;
        grid-row: 2;
        font-size: 36px;

        &::before {
            content: '75%';
        }

        &:hover::after {
            bottom: -4px;
            animation: 0.3s ease-in-out Border75;
            width: 25%;
        }
    }

    .three {
        grid-column: 1;
        grid-row: 3;
        font-size: 24px;

        &::before {
            content: '45%';
        }

        &:hover::after {
            bottom: -4px;
            animation: 0.3s ease-in-out Border45;
            width: 55%;
        }
    }

    .four {
        grid-column: 2;
        grid-row: 1;
        font-size: 36px;

        &::before {
            content: '60%';
        }

        &:hover::after {
            bottom: -4px;
            animation: 0.3s ease-in-out Border60;
            width: 40%;
        }
    }

    .five {
        grid-column: 2;
        grid-row: 2;
        font-size: 24px;

        &::before {
            content: '53%';
        }

        &:hover::after {
            bottom: -4px;
            animation: 0.3s ease-in-out Border53;
            width: 47%;
        }
    }

    .six {
        grid-column: 2;
        grid-row: 3;
        font-size: 22px;

        &::before {
            content: '90%';
        }

        &:hover::after {
            bottom: -4px;
            animation: 0.4s ease-in-out Border90;
            width: 10%;
        }
    }
}

#diplome {
    h2 {
        font-size: 30px;
    }

    .diplome_list {
        margin: 20px 5%;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-align: center;

        div {
            border: 1px solid white;
            height: auto;
            margin: 5px 0;
            padding: 5px;

            &:hover {
                background-color: white;
                color: black;
                border: 1px solid black;
                transition: 0.6s;
            }
        }
    }

    .img_follow {
        display: none;
        position: absolute;
        width: 350px;
        height: auto;
        top: 0;
        right: 0;
    }

    .img_bac {
        display: none;
    }

    .img_DU {
        display: none;
    }

    .img_CCI {
        display: none;
    }
}

#footer {
    h2 {
        font-size: 36px;
        text-align: right;
    }

    .footer_mail {
        font-family: 'Lora';
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        margin: 20px 10px;
        text-align: right;
    }

    p {
        font-family: 'Mukta';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin: 20px 0 10px;
    }
}


/* Responsive */

@media screen and (min-width: 420px){
    #profile {
        .detail_profile {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 768px){

    #profile {
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 150px;
            height: 150px;
        }

        p {
            font-size: 14px;
        }
    }

    #experience {

        h3 span {
            display: inline;
        }

        .detail_mjc, .detail_dev_web {
            flex-direction: row;
            justify-content: space-around;
            width: 85%;
            margin: 100px 0;
            margin-left: auto;
            margin-right: auto;
        }
        
        .article_service_mjc {
            .detail_mjc {
                flex-direction: row-reverse;
    
                .img_mjc {
                    width: 1000px;
                }
            }
        }

        .article_dev_web {
            .detail_dev_web {
                .img_cci {
                    width: 600px;
                }
            }
        }

    }

    #wrapper_techno {
        gap: 40px;
        width: 530px;

        .one {
            grid-column: 1;
            grid-row: 1;
        }
    
        .two {
            grid-column: 3;
            grid-row: 1;
        }
    
        .three {
            grid-column: 1;
            grid-row: 2;
        }
    
        .four {
            grid-column: 2;
            grid-row: 1;
        }
    
        .five {
            grid-column: 3;
            grid-row: 2;
        }
    
        .six {
            grid-column: 2;
            grid-row: 2;
        }
    }

    #footer {
        .footer_mail {
            text-align: center;
            margin: 50px 0 70px;
        }
    }
}

@media screen and (min-width: 1024px){
    #header {
        .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            top: 0;
            width: 100%;

            span {
                font-size: 32px;
                display: block;
            }

            input, label {
                display: none;
            }

            #menu {
                position: relative;
                display: block;
                width: auto;
                height: auto;
                padding: 0;
                background: transparent;

                a {
                    font-style: normal;
                    font-weight: 275;
                    font-size: 32px;
                    padding: 0 15px;
                    transition: 0.4s;
                    opacity: 0.7;

                    &:hover {
                        font-weight: 500;
                        opacity: 1;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;
                    padding-right: 15px;
                }

                hr {
                    display: none;
                }
            }
        }

        .body {
            
            h1, h2 {
                font-size: 48px;
            }
        }

        .header_techno {
            font-size: 14px;
        }
    }

    main {
        h2 {
            font-size: 48px;
        }

        #profile {

            .detail_profile {

                img {
                    width: 200px;
                    height: 200px;
                }

                p {
                    font-size: 24px;
                    padding-left: 20px;
                }
            }
        }

        #experience {
            h2 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 36px;
            }

            .article_service_mjc .detail_mjc {
                p {
                    font-size: 24px;
                }
            }

            .year {
                font-size: 20px;
            }

            .article_service_mjc {

                .img_mjc {
                    width: 400px;
                }
            }

            .article_dev_web {
                p {
                    font-size: 24px;
                }

                .img_cci {
                    width: 400px;
                }
            }
        }

        #diplome {
            position: relative;
            
            h2 {
                font-size: 48px;
            }

            .diplome_list {
                width: 60%;
                margin-right: auto;
                overflow: hidden;

                div {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) {

    main {

        #profile {

            .detail_profile{
                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }

        #wrapper_techno {
            gap: 40px;
            width: 756px;
    
            .one {
                grid-column: 1;
                grid-row: 1;
            }
        
            .two {
                grid-column: 3;
                grid-row: 1;
            }
        
            .three {
                grid-column: 2;
                grid-row: 2;
            }
        
            .four {
                grid-column: 2;
                grid-row: 1;
            }
        
            .five {
                grid-column: 4;
                grid-row: 2;
            }
        
            .six {
                grid-column: 3;
                grid-row: 2;
            }
        }
    }
}